# common
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# asset meta data
!/[Aa]ssets/**/*.meta

# asset store
/[Aa]ssets/AssetStoreTools*

# jetbrains rider
[Aa]ssets/Plugins/Editor/JetBrains*

# visual studio cache
.vs/

# gradle cache
.gradle/

# solution / project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# crash reports
sysinfo.txt

# builds
*.apk
*.unitypackage

# crashlytics
crashlytics-build.properties

